[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
portalocker = "*"
pytesseract = "*"
pycorrector = "*"
matplotlib = "*"
kenlm = {file = "https://github.com/kpu/kenlm/archive/master.zip"}
opencv-python = "*"
numpy = "*"
pandas = "*"
pyscreenshot = "*"
requests = "*"
jieba = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
